<section class="bg-gradient-primary js-fullheight">
  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4"><%= t "login.forgot_passwd" %></h1>
                  </div>
                  <%= form_for :password_reset, url: password_resets_path do |f| %>
                    <div class="signin-form">
                      <div class="form-group">
                        <%= f.email_field :email, class: "form-control", placeholder: "#{t("login.username")}" %>
                      </div>
                      <div class="form-group">
                        <%= f.submit t("login.btn_send_email"), class: "form-control btn btn-primary submit px-3" %>
                      </div>
                      <div class="form-group text-center ml-5">
                        <i class="fas fa-long-arrow-alt-right ml-5"></i>
                        <%= link_to t("menu_list.login"), login_path%>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
